.table-responsive {
    overflow-y: visible; /*bootstrap fix*/
}

body {
    background-color: #ddd;
    background-image: url("images/wood1.png");
    background-repeat: repeat;
    padding: 10px 0 300px;
    /*font-family: "Times New Roman", Times, serif;*/
}

h1, h2, h3, h4, h5, h6 {
    color: #900;
    font-weight: bold;
}

blockquote {
    position: relative;
    background-color: rgba(170, 200, 160, 0.7);
    margin: 1em;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-left: none;
    padding: 0.25em 1em;
    box-shadow: 0 3px 3px 3px #bbb;

    font-size: 1em;
}

blockquote::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    width: 0;
    border: 0.5em solid;
    border-color: black #cec #cec black;
}

body > * {
    /*max-width: 800px;*/
    border: 1px solid black;
    padding: 15px;
    background-color: #fff;
    background-image: url("images/parchment3.png");
    background-repeat: repeat;
}

p {
    font-size: 1em;
    text-indent: 1em;
    margin: 0.25em;
}

img {
    border-radius: 15px;
    max-height: 500px;
    width: auto;
}

li:empty {
    list-style: none outside;
}

table {
    width: 100%;
    margin: 0.5em 0;
}

table, tr, td, th {
    border: 1px solid black;
    border-collapse: collapse;
}

td, th {
    min-width: 20px;
    max-width: 400px;
    vertical-align: top;
    padding: 0 5px;
}

hr {
    margin: 5px;
    border-color: darkgray;
}

li > h1,
li > h2,
li > h3,
li > h4,
li > h5,
li > h6 {
    margin: 0;
}

dl > dt {
    font-weight: bold;
    margin: 0 0.25em;
}

dl > dt::after {
    content: ".";
    display: inline;
}

dl > dd {
    margin-left: 1em;
}

nav {
    display: flex;
    justify-content: flex-start;
    flex-flow: row nowrap;
}

nav > :last-child:not(:only-child) {
    margin-left: auto;
}

.head-row {
    background-color: #000;
    color: #fff;
    text-align: center;
}

.right {
    float: right;
}

.button {
    background-color: #ddd;
    padding: 3px;
    margin: 1px;
    border: 2px outset #555;
    border-radius: 10px;
}

.button:active {
    border-style: inset;
}

.spell-box {
    padding: 0.25em;
}

.spell-list {
    margin: 10px;
}

.search-box {
    width: 90%;
    min-width: 200px;
    border: 1px solid black;
    margin: 10px auto;
    position: relative;
    padding: 5px;
    margin: 5px auto;
}

.search-box p {
    text-indent: initial;
    margin: initial;
}

.search-box label {
    margin: 0;
}

/*Flexbox section*/
.flex {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-flow: row wrap;
}

.flex > * {
    flex: 1;
}

.collapse-details {
    color: black;
    text-decoration: none;
}
/*end flexbox*/

/* Monsters */
.monster-box {
    margin: 10px;
    padding: 15px;
    background-color: rgba(210, 170, 100, 0.5);
    border: 0;
    position: relative;
}

.monster-box::before, .monster-box::after {
    content: "";
    position: absolute;
    left: -1px;
    right: -1px;
    background-color: rgb(210, 170, 100);
    border: 1px solid black;
    height: 5px;
}

.monster-box::before {
    top: 0;
}

.monster-box::after {
    bottom: 0;
}

.monster-box > hr {
    height: 5px;
    margin: 0.5em 0;
    border: 0;
    background: -webkit-linear-gradient(left, #900, transparent);
    background: -moz-linear-gradient(left, #900, transparent);
    background: -o-linear-gradient(left, #900, transparent);
    background: linear-gradient(left, #900, transparent);
}

.monster-stats {
    display: flex;
    justify-content: space-around;
    flex-flow: row;
    text-align: center;
    list-style-type: none;
    padding: 0;
}

.monster-stats strong {
    display: block;
}
/* end monsters */

/* Collapse */
.collapse-toggle {
    display: block;
    transition-timing-function: ease-in;
    transition: 0.2s;
    background-color: transparent;
    border: none;
}

.collapse-toggle > * {
    display: inline-block;
    margin: 0;
}

.collapse-toggle::before {
    display: inline-block;
    content: "\\/";
    font-weight: bolder;
    margin-right: 0.4em;
    transition: 1s;
}

.collapse-toggle[aria-expanded="true"]::before {
    transform: rotate3d(1, 0, 0, 180deg);
}

.collapse, .collapsing {
    margin-left: 40px;
}
/* end accordions */

@media only screen
and (max-device-width : 1000px) {
    /*Tablets*/
    html {
        font-size: 1.5em;
    }
}

@media only screen
and (max-device-width : 600px) {
    /*Phones*/
    html {
        font-size: 2em;
    }
}
